# Compiled class files
*.class

# Log files
*.log

# Maven target directory
/target/

# Eclipse/IntelliJ IDEA project files
/.idea/
/*.iml
/.classpath
/.project
/.settings/
/out/

# Build directory
/build/

# Log directory
/logs/

# Dependency directory
/dependency/

# OS-specific files
.DS_Store
Thumbs.db

# Configuration files
configuration.properties

# JSON Schema files (if sensitive or generated)
schemas/*.json
